body{
    background-color: lightslategray;
}
.navbar-brand {
    font-family: 'Alfa Slab One', cursive;
}
.card > .card-header{
    font-size: 1.3rem;
    font-weight: bold;
}

.card > .card-body > .card-title{
    font-size: 1.4rem;
    font-weight: bolder;
}
.card > .card-body > h6.card-subtitle{
    font-size: 1.3rem;
    font-weight: bolder;
}

.floating_button {
    position: fixed;
    right: 60px;
    bottom: 35px;
    width: 60px;
    height: 60px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-custom{
    background-color: #e9e9e9;
}
@media (max-width: 576px) {
    .floating_button {
        width: 50px;
        font-size: 40px;
        height: 50px;
        right: 25px;
        bottom: 25px;
    }

    .card > .card-header{
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .card > .card-body > .card-title{
        font-size: 1.3rem;
        font-weight: bolder;
    }
    .card > .card-body > h6.card-subtitle{
        font-size: 1.2rem;
        font-weight: bolder;
    }
    
}
